# Create Database and Data Architecture

In [3]:
import sqlite3
import os

# Create the 'database' folder if it doesn't exist
if not os.path.exists('database'):
    os.makedirs('database')

# Path to the SQLite database file
db_path = os.path.join('database', 'data_science_application.db')

# Connect to the SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Enable foreign key support
cursor.execute("PRAGMA foreign_keys = ON;")

# Create the business_metadata table
cursor.execute('''
CREATE TABLE IF NOT EXISTS business_metadata (
    business_glossary_term_id INTEGER PRIMARY KEY,
    business_glossary_term TEXT NOT NULL,
    business_glossary_definition TEXT NOT NULL
)
''')

# Commit changes and close the connection
conn.commit()
conn.close()

print("Database and tables created successfully.")

Database and tables created successfully.

# Confirm Database Architecture

In [5]:
# Import the DataArchitecture class
from libraries.DataArchitecture import DataArchitecture
import os

# Path to the SQLite database file
db_path = os.path.join('database', 'data_science_application.db')

# Create an instance of DataArchitecture
data_arch = DataArchitecture(db_path)

# Retrieve and display the schema
schema_df = data_arch.show_schema()
schema_df.head(50)

,table_name,column_name,data_type,primary_key,foreign_key
0,business_metadata,business_glossary_term_id,INTEGER,yes,no
1,business_metadata,business_glossary_term,TEXT,no,no
2,business_metadata,business_glossary_definition,TEXT,no,no